body {
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.container {
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");

* {
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

:root {
  --orange: #df9245;
  --liner2: #f2295b;
  --white: #fff;
  --black: black;
  --color: #4c7687;
  --dark-white: #c6c6c6;
  --bubble-text1: #f4d5c5;
  --bubble-text2: #f6dcd4;
  --icon-calor: #dd4454;
  --dys-color: #34495e;
  --btn-color: #042f42;
  --btn-1-color: #aaa;
  --our-project-color: rgba(0, 0, 0, 0);
  --white-flash-color: rgba(255, 255, 255, 0.5);
  --expulsion-btn-hover: rgba(255, 60, 60, 0.9);
  --our-project-back-color: #21566a;
  --link-icon: #09445a;
  --faq-information: #f2f5f7;
  --faq-font-color: #285b6f;
  --our-team-hr: #e2707c;
  --our-team-text: #a6a7a7;
  --spared-world: #09445a;
  --spared-color: #b2b2b2;
  --Our-Achievements: #042b3d;
  --work-color: #053448;
  --video-section-color: #0c3f55;
}

/* navbar start */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.e-con-inner-photo {
  background-image: url(../src/Img/title_bg.jpg);
  height: 600px;
  position: relative;
  text-align: center;

}



.e-conner-boxed {
  font-size: 37px;
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Button Styling */
.button-boxed>button.btn.btn-light {
  position: absolute;
  border-radius: 34px;
  padding: 15px;
  color: var(--dys-color);
  width: 15%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-boxed>button.btn.btn-light:hover {
  background-color: transparent;
  color: var(--white);
}

/* Small Devices (max-width: 480px) */
@media (max-width: 480px) {

  .card-body-section-part,
  .card-body-section {
    /* background-image: linear-gradient(180deg,
        var(--orange) 0%,
        var(--liner2) 100%);
    background-color: var(--link-icon); */
    color: var(--white);
    display: block;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding: 9px;
    margin: -4px;
  }
}

/* Small-Medium Devices (320px - 767px) */
@media (min-width: 320px) and (max-width: 767px) {
  .our-team {
    height: 1006px;
  }

  .button-boxed>button.btn.btn-light {
    right: 29%;
    top: 80%;
    width: 45%;
  }

  h1.tag {
    margin-top: 11px;
  }

  h5.card-title {
    flex: auto;
  }

  .our-team-wp {
    right: -4%;
  }

  .e-con-inner-photo {
    background-image: url(../src/Img/title_bg.jpg);
    height: 600px;
    position: relative;
    margin-top: 95px;
  }

  .owl-carousel.owl-drag .owl-item>.item.position-relative.card {
    width: 100% !important;
  }

  .e-conner-boxed {
    font-size: 32px;
    color: var(--white);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Medium-Large Devices (768px - 900px) */
@media (min-width: 768px) and (max-width: 900px) {
  .our-team {
    height: 1004px;
  }

  h1.tag {
    margin-top: 11px;
  }

  .card {
    width: 100% !important;
  }

  a.social-icon.p-2.bg-light.rounded-circle {
    color: var(--btn-color);
    padding: 0px 8px !important;
  }

  .our-team-wp {
    padding: 12px;
    display: flex;
    font-size: 26px;
  }

  .button-boxed>button.btn.btn-light {
    right: 29%;
    top: 66%;
    width: 45%;
  }
}

/* Large Devices (1025px - 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .e-conner-boxed {
    font-size: 37px;
    color: var(--white);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%) !important;
  }

  .button-boxed>button.btn.btn-light {
    right: 43%;
    top: 78%;
    padding: 22px;
    width: 16%;
  }
}

/* Extra Large Devices (min-width: 1200px) */
@media (min-width: 1200px) {
  .e-conner-boxed {
    font-size: 37px;
    color: var(--white);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .button-boxed>button.btn.btn-light {
    right: 43%;
    top: 66%;
    padding: 15px;
  }
}

/* General Styling */
.e-con-inner-photo {
  background-image: url(../src/Img/title_bg.jpg);
  height: 492px;
  position: relative;
  margin-top: 0;
}

.card {
  width: 100% !important;
  border-radius: 5px;
}

a.social-icon.p-2.bg-light.rounded-circle {
  color: var(--btn-color);
  padding: 0px 8px !important;
}

.our-team-wp {
  padding: 12px;
  display: flex;
  font-size: 26px;
}


/* diana start */

.diana-image {
  padding-top: 150px;
}

.girl-pic>img {
  border-radius: 50% !important;
}

/* diana t. dash */

button.btn.btn-outline-warning {
  background-image: linear-gradient(180deg,
      var(--orange) 0%,
      var(--liner2) 100%);
  color: var(--white);
}

.d-l-c-r {
  flex-wrap: wrap;
}

.diana-image {
  background-image: url(../src/Img//main-testimonial-bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.oktal-confect {
  color: var(--color);
}

.oktal-c {
  color: var(--dark-white);
}

.girl-pic>img {
  border-radius: 50%;
}

.diana-image-left.col-lg-3.col-md-12.col-sm-12.align-content-center {
  text-align: center;
}

button.btn.btn-outline-light.rounded-pill.w-25.p-3 {
  background-color: var(--black);
}

@media (max-width: 768px) {
  .slider-contact.d-flex.align-items-center {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .slider-contact.d-flex.align-items-center {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 900px) and (max-width: 1300px) {
  .slider-contact.d-flex.align-items-center {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.diana-image-left.col-lg-3.col-md-12.col-sm-12.align-content-center {
  text-align: center;
  justify-content: center;
}

button.btn.btn-outline-warning.rounded {
  width: fit-content;
}

/* diana end */

.card.h-100.text-center.text-light.first {
  background-color: var(--video-section-color);
  border-radius: 0;
}

.card.h-100.text-center.text-light.secound {
  background-color: var(--Our-Achievements);
  border-radius: 0;

}

.card.h-100.text-center.text-light.third {
  background-color: var(--btn-color);
  border-radius: 0;

}

.card.h-100.text-center.text-light.four {
  background-color: var(--work-color);
  border-radius: 0;

}

.Okla-cards {
  display: flex;
  flex-wrap: wrap;
}

.Okla-item-title,
.Okla-item-title-parent-child,
.Okla-item-title-child,
.Okla-item {
  background-color: var(--dark-blue);
  /* Replace with your preferred colors */
}

.about-contact,
.about-card-contact {
  font-size: 24px;

  background-image: linear-gradient(180deg, var(--orange) 0%, var(--liner2));
  background-clip: text;
  -webkit-text-fill-color: var(--our-project-color);
}




 


.explosion-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
}

.play-icon svg {
  fill: red;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2;
}

.card-text {
  font-size: 14px;
  color: #ddd;
}

.card-body-section>p.card-text {


  font-size: large;
  width: 64%;
  text-align: start;

}

.card-body-section>span.about-card-contact {
  font-size: 69px;

}

.card-body-section {
  text-align: start;
  transform: translate(90px, 10px);
}

@media (max-width: 992px) {
  .col-lg-3 {
    flex: 1 1 calc(50%);
    max-width: calc(50%);
  }
}

@media (max-width: 576px) {
  .col-lg-3 {
    flex: 1 1 100%;
    max-width: 100%;
  }
}